@media screen and (max-width : 950px){
    .bg-text {
        display : none;
    }
    section {
        padding : 30px ;
        .main-title {
            h2 {
                font-size : 2rem;
                font-weight : 600;
            }
        }
    }
    .controls {
        position : fixed;
        top : auto;
        bottom: 0;
        left : 50%;
        display : flex;
        flex-direction: row;
        justify-content: center;
        transform : translateX(-50%);
        width : 100%;
        
        .control {
            margin: 1rem .3rem ;

        }  
    }
    .header-content {
       display : flex;
       flex-direction: column;
        .left-header{
            margin-left : 1rem;
            .h-shape {
                display : none;
            }
            .image {
                margin-left : .12rem;
            }
        }
        .right-header{
            padding : 5rem;

        }
    }
    .image {
       margin-top : 2rem;
        height : auto;
        width : auto;
       display : flex;
       align-self: center;
       
    }   


    
    // about section 
    .about {
        height : 100%;
        width : 100%;
    
    .main-title {
        text-align: left;
        h2{

            font-size: 2rem;
            top : 0%;
            left : 0%;

        }
        .bg-text{
            font-size: 4rem;
            top : 25%;
        }
    }
    .about-container {
        grid-template-columns: 1fr;
        padding-top : 1rem;
        .left-about {
            padding-right : 1rem;
            p{
                padding-left: 0;
            }
        }
        .right-about {
            margin-top: 2rem;
            grid-template-columns: 1fr;
        }

        
    }
    .about-stats {
        .progress-bars {
            grid-template-columns: 1fr;
            .progress {
                width : 100%;
                span {
                    background-color: white;
                }
            }
        }   
    }
    .timeline{
        grid-template-columns: 1fr;
        padding : 30px;
        padding-top : 10px;
        grid-gap: 1rem;
        .timeline-item {
            margin-top : 1rem;
        }
    }
}
    // portfolios 
    .portfolios {
        grid-template-columns: 1fr;
        .portfolio-item {

           .image img {
                height : 300px;
                width: 100%;
               object-fit: cover;
               
           }
        }
    }
    .contact-content-con {
        padding-top : 1rem;
        flex-direction: column;
        .left-contact {
            .contact-item {
                display : flex;
                flex-direction: column;
            }
            .contact-icon {
                justify-content: center;
                align-items: center;
            }
        }
        .right-contact {
            margin-left : 0rem; 
            form {
                .input-control {
                    text-align: center;
                    margin : 1rem;
                    margin-left : 30%;
                    input {
                        
                        display : block;
                        margin-top: 20px;
                    }
                    textarea {
                        margin : 0px;
                    }
                } 
            }
        }
    }

}