@media screen and (max-width: 950px) {
  .bg-text {
    display: none;
  }
  section {
    padding: 30px;
  }
  section .main-title h2 {
    font-size: 2rem;
    font-weight: 600;
  }
  .controls {
    position: fixed;
    top: auto;
    bottom: 0;
    left: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 100%;
  }
  .controls .control {
    margin: 1rem .3rem;
  }
  .header-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-content .left-header {
    margin-left: 1rem;
  }
  .header-content .left-header .h-shape {
    display: none;
  }
  .header-content .left-header .image {
    margin-left: .12rem;
  }
  .header-content .right-header {
    padding: 5rem;
  }
  .image {
    margin-top: 2rem;
    height: auto;
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .about {
    height: 100%;
    width: 100%;
  }
  .about .main-title {
    text-align: left;
  }
  .about .main-title h2 {
    font-size: 2rem;
    top: 0%;
    left: 0%;
  }
  .about .main-title .bg-text {
    font-size: 4rem;
    top: 25%;
  }
  .about .about-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding-top: 1rem;
  }
  .about .about-container .left-about {
    padding-right: 1rem;
  }
  .about .about-container .left-about p {
    padding-left: 0;
  }
  .about .about-container .right-about {
    margin-top: 2rem;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .about .about-stats .progress-bars {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .about .about-stats .progress-bars .progress {
    width: 100%;
  }
  .about .about-stats .progress-bars .progress span {
    background-color: white;
  }
  .about .timeline {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: 30px;
    padding-top: 10px;
    grid-gap: 1rem;
  }
  .about .timeline .timeline-item {
    margin-top: 1rem;
  }
  .portfolios {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .portfolios .portfolio-item .image img {
    height: 300px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .contact-content-con {
    padding-top: 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-content-con .left-contact .contact-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-content-con .left-contact .contact-icon {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact-content-con .right-contact {
    margin-left: 0rem;
  }
  .contact-content-con .right-contact form .input-control {
    text-align: center;
    margin: 1rem;
    margin-left: 30%;
  }
  .contact-content-con .right-contact form .input-control input {
    display: block;
    margin-top: 20px;
  }
  .contact-content-con .right-contact form .input-control textarea {
    margin: 0px;
  }
}
/*# sourceMappingURL=media.css.map */